.Container{
display: flex;
flex-direction: column;
align-items: center;
margin: auto;
margin-top: 50px;
padding-bottom: 35px;
background-color:white;
width: 50%;


}
.text{
  color:#efc90deb;
  font-size: 30px;
  font-weight: 700;
  margin-left: 150px;
  margin-top: 10px;
}
.inputs{
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.pg_titels{
  margin: 0px 20px;
  font-weight: 100px;
  font-family: 'Amazon Ember', sans-serif;

}
.input{
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 60px;
  background: rgb(231, 227, 227);
  border-radius: 6px;

}
.input input{
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}
.submit{
  color: white;
  background: #efc90deb;
  border-radius: 5px;
  font-weight: 500;
  font-size: 19px;
  cursor: pointer;
  outline: none;
  border: none;
  margin-top: 25px;
  padding: 5px;

}