/* .bodys{
  
    background-image: url("../public/home1.jpg");
    height: 100vh;
    background-size: cover;
    margin-top: -31px;
    box-shadow: 0 0 2000px rgb(0,0,0,0.5);
   
  } */

.home{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    height: 100vh;
    
 
}
.home_container{
    margin: 20vh 0 20vh 0;
  
    z-index: 2;
}
.home_row{
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;

}
.home_image{
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 100%;
    overflow: hidden;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,1,1), rgba(0,0,0,0));
}