.bodys{
  
    background-image: url("../public/home1.jpg");
    height: 100vh;
    background-size: cover;
    margin-top: -31px;
    box-shadow: 0 0 2000px rgb(0,0,0,0.5);
  }

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
      margin: 0 auto;
    width:450px;
    background: white;
    padding-bottom: 30px;
    margin-bottom: 20px;

}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 40px;

}
.text{
    color: #efc90deb;
    font-size: 30px;
    font-weight: 700;
    padding-right:25%;
    margin-left: 110px;

}
.underline{
    width: 61px;
    height: 6px;
    background: #efc90deb;
    border-radius: 9px;

}
.inputs{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 50px;
    background: rgb(206, 199, 199);
    border-radius: 6px;
}
.input img{
    margin: 0px 30px;
    height: 30px;
    color: black;
}
.input input{
    height: 40px;
    width: 350px;
    background: transparent;
    border: none;
    outline: none;
    color:  black;
    font-size: 19px;
}
.forgotpassword{
    padding-left: 62px;
    margin-top: 27px;
    font-size: 18px;
}
.forgotpassword span{
    color:blue;
    cursor: pointer;
}
.submitcontainer{
    display: flex;
    gap: 30px;
    margin: 20px auto;

}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 39px;
    color: #180101;
    background: #efc90deb;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.gray{
    background: #EAEAEA;
    color: #676766;
}